@import "tailwindcss";

body {
  @apply bg-gray-900 text-gray-100; /* dark theme default */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
input,
textarea {
  width: 300px;
  padding: 5px;
}
